extends structure
block content
  .row
    .col-md-12
      h4 Mode
      select#mode.form-control
        option(value="static") Static
        option(value="turn") Stepper
        option(value="random") Random
        option(value="time") Time
        option(value="timetable") Timetable
        option(value="schedule") Schedule
        option(value="reset") Reset
  .row#scheduleForm
    .col-md-12
      div.form-inline
        div.form-group.form-field.autocomplete
          label(for='from')
          input#inputFrom.form-control.form-input(type='text', placeholder='From' name='from')
        button#oppositeButton.btn.round-button(type='submit') &#8646;
        div.form-group.form-field.autocomplete
          label(for='to')
          input#inputTo.form-control(type='text', placeholder='To' name='to')
      button#scheduleButton.btn(type='submit') Search Connection
  .row
    .col-md-12
      h4 Message
      #modules
