html, body
  height 100%

header
  background-color #2d327d
  color white

h1
  margin-top 10px

#clock
  position absolute
  width 12em
  right 0
  top 0

.nav
  margin-top 0px

  li a
    border-radius 0px
    color white
    padding 5px 10px

    &:hover
      background-color transparent
      border-color transparent
      opacity .5

.nav-tabs > li.active > a
  color #eb0000

.lightswitch
  font-size 1.6em

section
  min-height calc(100% - 155px)

footer
  position fixed
  bottom 0
  left 0
  width 100%
  padding 5px 0px
  background-color #2d327d
  color white
  text-align center
  font-size 10px

  p
    margin 0px

select, input
  width 100%
  height 26px
  -webkit-appearance none
  border-radius 0px
  border 1px solid gray
  outline 0px
  padding 0px 5px

.btn-primary
  margin-top 10px
  margin-bottom 20px

#modules > div
  margin-bottom 15px

#modules
  background #2d327d
  height 5em
  padding-left 7em

.module
  margin 0.5%
  background #2d327d
  color #fff
  font-weight bold

#module0, #module1
  width 12%

#module2
  width 22%
  color #fce319

#module3, #module4, #module5
  width 48%

@media screen and (max-width: 600px)
  #modules
    height 9em
    padding-top: 0.3em

  #module0, #module1
    width 15%

  #module2
    width 63%

  #module3, #module4, #module5
    width 95%

.track-number
  position absolute
  width 60px
  height 60px
  margin-top 6px
  margin-left -2em
  padding 9px 18px
  border 1px solid white
  border-radius 10px
  color white
  font-size 40px

.track-title
  font-size 8px
  position absolute
  margin -3px -8px
  font-weight bold

.btn
  border 1px solid #ccc

.round-button
  width 2em
  height 2em
  border 1px solid #ccc
  border-radius 1em
  padding 0.32em 0.45em
  margin 15px

@media screen and (max-width: 600px)
  .round-button
    margin 0 15px

  .form-group
    width 40%

.autocomplete
  position relative
  display inline-block

.autocomplete-items
  position absolute
  border 1px solid #d4d4d4
  border-bottom none
  border-top none
  z-index 99
  /*position the autocomplete items to be the same width as the container*/
  top 100%
  left 0
  right 0

.autocomplete-items div
  padding 10px
  cursor pointer
  background-color #fff
  border-bottom 1px solid #d4d4d4

.autocomplete-items divhover
  background-color #e9e9e9

/*when navigating through the items using the arrow keys*/
.autocomplete-active
  background-color DodgerBlue !important
  color #ffffff

#turnVariationLine,
#turnDurationLine,
#randomVariationLine
#randomDurationLine
  display none
